.Current-Location-one{
    padding-bottom: 4rem;
}
.ecoleft{
    color: #163300;
    font-weight: 400;
    font-size: 1rem;
}
.ecoright{
    color: #163300;
    font-weight: 400;
    font-size: 1rem;
}
.card-label{
    color: #545454;
    font-size: 0.75rem;
    font-weight: 400;
}
.btn-payment{
    color: #163300;
    background-color: #9FE870;
    border-radius: 8px;
}
.btn-payment:hover{
    color: #163300;
    background-color: #9FE870;
    border-radius: 8px;
}
.or{
    color:#B4B9C3;
    font-weight: 500;
    font-size: 0.8rem;
}
.or::after,
.or::before{
    margin-left: 1rem;
    margin-right: 1rem;
    content: "";
    width: 8rem;
    height: 2px;
    background: #F5F5F5;
    display: inline-block;
}
@media (max-width:425px) {
    .or::after,
    .or::before{
        margin-left: 1rem;
        margin-right: 1rem;
        content: "";
        width:4rem;
        height: 2px;
        background: #F5F5F5;
        display: inline-block;
    } 
}
@media (max-width:320px) {
    .or::after,
    .or::before{
        margin-left: 1rem;
        margin-right: 1rem;
        content: "";
        width:2rem;
        height: 2px;
        background: #F5F5F5;
        display: inline-block;
    } 
}
.btn-payment-two{
    color: #9098A5;
    background-color: #F8F9FA;
    border-radius: 8px;
}
.btn-payment-two:hover{
    color: #9098A5;
    background-color: #F8F9FA;
    border-radius: 8px;
}
.payment-text{
    color: #B4B9C3;
    font-weight: 500;
    font-size: 1rem;
}